.container
{
  width: 400px;
  border: 2px solid grey;
  padding: 50px;
  border-radius: 10px;
  background-color: inherit;
}

#show-order, #show-address
{
  display: none;
}


.container
{
  width: 400px;
  /* text-align: center; */
  align-items: center;
  border: none;
  padding-top: 50px;
}