.container
{
  padding-top: 50px;
  width: 800px;
}
.welcome
{
  background-image: url('../assets/images/welcome.jpg');
  background-repeat: no-repeat;
  background-position: center;
  padding: 250px;
  text-align: center;
  font-size: 100px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#p_tag
{
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 30px;
}

h2
{
  padding-bottom: 30px;
  align-items: center;
  text-align: center;
}

.large_pizza, .medium_pizza, .small_pizza
{
  padding-bottom: 30px;
}

.row
{
  padding: 20px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 5px 10px rgb(95, 95, 247);
}